{
    "plugins": [
      [
        "@semantic-release/commit-analyzer",
        {
          "preset": "eslint"
        }
      ],
      [
        "@semantic-release/release-notes-generator",
        {
          "preset": "eslint"
        }
      ],
      [
        "@semantic-release/npm",
        {
          "npmPublish": false
        }
      ],
      "@semantic-release/github",
      [
        "@semantic-release/git",
        {
          "assets": [
            "package.json",
            "bower.json"
          ],
          "message": "Chore: Release ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
        }
      ]
    ]
  }
